@import "variables";
body {
  background-color: $bg;
  margin: 0;
  overflow-x: hidden;
  font-size: 1rem;
}
.bg_img {
  height: 100vh;
  width: 100vw !important;
  z-index: -10;
  object-fit: cover;
}
.logo {
  z-index: 1;
  height: 15vh;
  margin: 2%;
  object-fit: cover;
}
.moon {
  width: 10vw;
  position: absolute;
  z-index: 1;
  left: 70vw;
  top: 10vh;
}
.timeline {
  width: 100vw;
}
.nav {
  :first-child {
    margin-left: 1.5rem;
  }
  position: fixed;
  background: none;
  display: flex;
  height: 6vh;
  width: 100%;
  .nav-item {
    p {
      margin: 0;
      padding: 0;
    }
    text-decoration: none;
    padding: 1rem;
    padding-top: 0;
    display: inline;
    width: fit-content !important;
    font-size: 1rem;
    color: $primary_text !important;
    transition: 0.4s ease-in-out;
    font-family: "Bungee Inline", cursive;
    background: none;
    &:hover {
      border-bottom: 4px solid white;
      color: $primary;
      transform: scale(1.2);
    }
  }
  // .nav-item:not(:last-child) {
  //   margin-right: 5%;
  // }
}
.text {
  padding: 1rem;
  width: auto;
  color: $primary_text;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
}
.about {
  display: flex;
  margin: 0 !important;
  padding: 0 !important;
}
.line-right {
  margin: 0;
  display: inline;
  height: 60vh;
}
.sponsors_text {
  margin: 1rem;
  padding: 1rem !important;
  width: fit-content;
  color: $primary_text;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
}
.container {
  @include section_head;
  transition: ease-in-out;
  border-radius: 5%;
  height: fit-content;
  padding: 1rem;
  margin-left: 5vw;
}
.splash {
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 20vh;
  left: 20vw;
  h1 {
    color: $primary_text;
    font-family: "Bungee Inline", cursive;
    font-size: 2rem;
  }

  .cta {
    display: flex;
    justify-content: space-evenly;
    .splash-cta {
      margin-top: 2%;
      width: fit-content;
      height: 10%;
      font-size: 1.3rem;
      color: $accent-color;
      transition: 0.4s ease-in-out;
      font-family: "Bungee Inline", cursive;
      background: none;
      border: 1px solid $accent-color;

      &:hover {
        background-color: white;
        color: $primary;
        transform: scale(1.2);
      }
    }
  }
}

// clock section
.clock {
  @include section_head;
  text-align: center;
}

#clockdiv {
  margin: 2vw;
  font-family: "Bungee Inline", cursive;
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  font-weight: 100;
  text-align: center;
  padding: 1rem;
}

#clockdiv > div {
  margin: 2vw;
  padding: 1vw;
  border-radius: 5%;
  background-color: $secondary;
  display: inline-block;
}

#clockdiv div > span {
  padding: 0.3rem;
  border-radius: 5%;
  background-color: $primary;
  display: inline-block;
  width: 5vw;
}

.smalltext {
  padding-top: 0.5rem;
  font-size: 1rem;
}
@media only screen and (min-width: 1001px) and (max-width: 1300px) {
  .bg_img {
    height: 70vh;
  }
  .logo {
    height: 10vh;
  }
  .splash {
    left: 8vw;
    top: 13vh;
  }
}
@media only screen and (max-width: 1000px) {
  #clockdiv {
    font-size: 0.8rem;
  }
  .smalltext {
    padding-top: 0.5rem;
    font-size: 0.5rem;
  }
  .get {
    h2 {
      font-size: 1.5rem;
    }
  }
  .left-half,
  .right-half {
    h1 {
      font-size: 2rem !important;
    }
    p {
      font-size: 0.8rem !important;
    }
  }
  .sponsors_text {
    font-size: 0.8rem !important;
  }
  .text {
    font-size: 0.8rem !important;
  }
  .line-right {
    height: 10vh;
  }
  .container {
    .elem {
      width: 40%;
      padding-top: 3vh;
      .caption {
        font-size: 0.8rem !important ;
      }
    }
    h1 {
      font-size: 1.5rem !important;
    }
  }
  .bg_img {
    height: 70vh;
  }
  .nav {
    margin: auto;
    width: 100%;
    justify-content: space-around;
    .nav-item {
      margin-right: 0;
      padding: 0.2rem;
      width: fit-content;
      font-size: 2vw;
    }
  }
  .logo {
    height: 6.5vh;
  }
  .splash {
    left: 10vw;
    .cta {
      justify-content: space-evenly;
      .splash-cta {
        font-size: 2.4vw !important;
        width: fit-content !important;
      }
    }
  }
}
//AboutUs-styling
.flex-container {
  .icon1 {
    width: 10vw;
    margin: 0.2rem;
    border-radius: 50%;
  }
  .elem {
    text-align: center;
    vertical-align: middle;
    color: $primary_text;
    transition: 0.4s ease-in-out;
    .caption {
      margin-top: 0.2rem;
      font-size: 1.2rem;
      font-family: "Orbitron", sans-serif;
    }
    &:hover {
      transform: scale(1.3);
    }
  }
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: inherit;
  justify-content: space-around;
}

// colab section styling
.get {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  font-size: 1.5rem;
  width: 100%;
  font-family: "Bungee Inline", cursive;
  justify-content: space-around;
}
.get-involved {
  margin-left: 5vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  width: 100%;
  margin-top: 0;
  justify-content: space;
}
.get-involved h2 {
  text-align: left;
}
@media (max-width: 900px) {
  .right-half,
  .left-half {
    width: 100%;
  }
}
.left-half {
  /* background-color: green; */
  h2 {
    font-size: 2rem;
  }
  p {
    text-align: left;
    font-size: 1rem;
  }
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 500px;
  margin-top: 0;
  width: 35%;
  text-align: center;
  border-radius: 12px;
  font-family: "Oswald", sans-serif;
}
.right-half {
  h2 {
    font-size: 2rem;
  }
  p {
    text-align: left;
    font-size: 1rem;
  }
  /* background-color:  blueviolet; */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 500px;
  margin-top: 0;
  width: 35%;
  text-align: center;
  border-radius: 12px;
  font-family: "Oswald", sans-serif;
}

.register-btn {
  a {
    text-decoration: none !important;
    color: black !important;
  }

  display: inline-flex;
  justify-content: center;
  max-width: 100%;
  margin-top: 2%;
  width: fit-content;
  height: 10%;
  font-size: 1.3rem;

  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  font-family: "Bungee Inline", cursive;
  background: none;
  border: 1px solid black;
  /* min-width: 0; */
  flex-basis: 0;
}

.register-btn > span {
  flex-shrink: 0;
  max-width: 100%;
}
.register-btn:hover {
  background: #bc54cc;
  /* background-image: -webkit-linear-gradient(top, #bc54cc, #01060a);
  background-image: -moz-linear-gradient(top, #bc54cc, #01060a);
  background-image: -ms-linear-gradient(top, #bc54cc, #01060a);
  background-image: -o-linear-gradient(top, #bc54cc, #01060a);
  background-image: linear-gradient(to bottom, #bc54cc, #01060a);
  text-decoration: none; */
  background-color: white;
  color: #3f0071;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.white_container {
  margin: 0;
  padding: 2rem;
  text-align: center;
  background-color: $primary_text;
}
.container1 {
  text-align: center;
}
.btn1 {
  width: fit-content;
  a {
    color: $primary_text !important;
    &:hover {
      color: #3f0071 !important;
    }
  }

  border: 2px solid white;
}
// contact Us
.contact {
  display: inline;
}
.banner {
  display: inline-block;
  position: fixed;
  z-index: 5;
  left: 0vw;
  top: 20vh;
  background: none;
  width: min-content;
  p {
    padding: 1rem;
    width: fit-content;
    color: $primary_text;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
  }
  ul {
    padding: 0;

    li {
      img {
        border-radius: 10%;
        width: 2.5vw;
        margin: 0.5rem;
        transition: 0.1s ease-in-out;
        &:hover {
          transform: scale(1.3);
        }
        @media only screen and (max-width: 768px) {
          width: 5vw;
        }
      }
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
